annotated-types==0.7.0
black==24.4.2
cfgv==3.4.0
click==8.1.7
distlib==0.3.9
Faker==25.9.1
filelock==3.16.1
identify==2.6.1
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.2.2
pre_commit==4.0.1
psycopg2==2.9.10
pydantic==2.9.2
pydantic_core==2.23.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
setuptools==70.1.0
six==1.16.0
SQLAlchemy==2.0.36
sqlmodel==0.0.22
typing_extensions==4.12.2
virtualenv==20.26.6
wheel==0.43.0
